<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{% block title %}{% endblock %}</title>
    <style>
        /* Esto ayuda a que el scroll sea suave en iPhones y Android */
        body {
            -webkit-overflow-scrolling: touch;
        }
    </style>
</head>
<body class="m-0 p-0 overflow-x-hidden overflow-y-auto bg-black">
    {% block content %}{% endblock %}
</body>
</html>